<?xml version="1.0"?>
<config>
    <modules>
        <Zaeran_Unity3d>
            <version>0.1.1</version>    <!-- Version number of your module -->
        </Zaeran_Unity3d>
    </modules>
    <global>
        <helpers>
            <unity3d>
                <class>Zaeran_Unity3d_Helper</class>
            </unity3d>
        </helpers>
        <blocks>
            <unity3d>
                <class>Zaeran_Unity3d_Block</class>
            </unity3d>
        </blocks>
        <models>
            <unity3d>
                <class>Zaeran_Unity3d_Model</class>
            </unity3d>
        </models>
    </global>
    <frontend>
        <routers>
            <Zaeran_Unity3d>
                <use>standard</use>
                <args>
                    <module>Zaeran_Unity3d</module>
                    <frontName>unity3d</frontName>
                </args>
            </Zaeran_Unity3d>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <unity3d translate="title" module="unity3d">
                                            <title>Unity3d API</title>
                                        </unity3d>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>